<div class="card">
  <div class="heading">
    <h3>Send us your valuable feedback</h3>
    <p><i>Rate this extension it really motivate us to add new features. Thanks in advance.</i></p>
  </div>
  <div class="ratings">
    <a href="http://localhost:4200/thank-you">
      <img src="https://i.imgur.com/TezGH8X.png">
      <img src="https://i.imgur.com/P1bKktc.png">

      <img src="https://i.imgur.com/LzDqrhA.png">

      <img src="https://i.imgur.com/OkdWjCv.png">

      <img src="https://i.imgur.com/7RHNQPw.png">
    </a>
  </div>
</div>