<!--<div>
    <img src="..\assets\contact.png">
</div>

    <button class="btnContact"><a href="http://localhost:4200/welcome">Continue</a></button>-->

<body class="contactMessage">
    <form align="center">
        <h1>Thank You For Contacting Us!</h1>
        <h2>We will get back to you very soon</h2>
        <button class="btnContact">
            <a href="http://localhost:4200/welcome" title="On Clicking this button you will be redirected to Sign-up or Log-in page">Continue</a></button>
    </form>
</body>