.updateRecords {
    width: 800px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: linear-gradient(rgba(65, 60, 60, 0.8),
            rgba(141, 136, 130, 0.8), rgba(97, 94, 93, 0.6), rgba(113, 113, 112, 0.6));
    border: 2px solid rgb(37, 35, 35);
    border-radius: 20px 90px;
    padding: 7px;
    font-size: larger;

}

h1 {
    font-family: Copperplate, Papyrus, fantasy;
}

label {
    font-family: Copperplate, Papyrus, Comic sans;
    font-size: xx-large;
    color: black;
}

input[type="text"] {
    font-family: Lucida Calligraphy;
    font-size: 22px;
    font-stretch: expanded;
    color: black;
    box-shadow: inset;
    border-radius: 20px 90px;
    border-color: black;

}

button {
    border-radius: 10px;
    padding: 10px 15px;
    background: linear-gradient(rgba(75, 139, 146, 0.6),
            rgba(76, 75, 50, 0.6), rgba(70, 75, 76, 0.6), rgba(14, 50, 50, 0.6));
    font-family: 'Comic sans MS', cursive;
    font-size: x-large;
    border-color: black;
}