<div id="welcomePage">
    <h2>WELCOME</h2>
    <hr>
    <br><br><br>
    <div id="btn">
        <label for="sign-up">Don't have an account?</label><br>
        <a href="http://localhost:4200/sign-up">
            <!--To signup into the application if the user is new -->
            <input type="button" id="sign-up"  name="sign-up" value="Sign-up"><br>
        </a>

        <label for="log-in">Already have an account?</label><br>
        <a href="http://localhost:4200/log-in">
              <!--To login,if the person is already registered with our application -->
            <input type="button" id="log-in" name="log-in" value="Log-in"><br>
        </a>
    </div>
</div>