<div class="wrapper">
    <ol role="list">
        <!--Here is the list of services provided in our application -->
        <li><b><i>Create the book records</i></b></li>
        <li id="alternate"><b><i>Deletion of book records</i></b></li>
        <li><b><i>Updating the book details</i></b></li>
        <li id="alternate"><b><i>View the BookList</i></b></li>
        <li><b><i>View book by Id</i></b></li>
        <li id="alternate"><b><i>View the Books by department</i></b></li>
    </ol>
</div>