<aside class="profile-card">
  <header>
    <!--Profile card with photo and details with some icons-->
    <div class="a">
      <img src="..\assets\resized_image (16).jpg">
    </div>


    <i class="fa fa-user-circle" aria-hidden="true">
      <span>Thamizhselvi Kesavan</span>
    </i>
    <br>
    <i class="fa fa-envelope" aria-hidden="true">
      <span>kts01082016@gmail.com</span>
    </i>
    <br>
    <i class="fa fa-phone" aria-hidden="true">
      <span>9361668393</span>
    </i>
    <br>
    <i class="fa fa-map-marker" aria-hidden="true">
      <span>Kanchipuram,Tamilnadu</span>
    </i>
    <br>
    <i class="fa fa-flag" aria-hidden="true">
      <span>India</span>
    </i>
  </header>
</aside>

<div class="card-wrapper">

  <div class="card profile-two">

    <div class="card-image profile-img--two">
      <img src="..\assets\pr.png">
    </div>
    <!--Social media links-->
    <ul class="social-icons">
      <li>
        <a href="https://www.linkedin.com/in/thamizhselvi-kesavan">
          <i class="fa fa-linkedin" title="Linkedin Profile"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/ThamizhKesavan">
          <i class="fa fa-github" title="Github Profile"></i>
        </a>
      </li>
      <li>
        <a href="https://www.hackerrank.com/thamizh_selvi">
          <i class="fa fa-ellipsis-h" title="Hackerrank Profile"></i>
        </a>
      </li>
    </ul>
  </div>
</div>