<div class="homepage">
    <p><b><i>Library management system</i></b> is a project which aims in developing a computerized system to maintain
        all the daily work of library.
        This project has many features which are available in normal library like facility of user login,adding book to
        library,updating the book details,view the book details etc...
        This system completely automates all your library’s activities.The best way to maintain, organize, and handle
        countless books systematically is to implement a library management system software.</p>
       
    <h3 class="tech">TECHNOLOGIES USED</h3><br>
    <div  class="dropdown" >
    <button class="btn" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
        Front-End
    </button>           
    <ul class="dropdown-menu">
        <li><a href="https://en.wikipedia.org/wiki/HTML" id="frontEnd" class="dropdown-item">HTML</a></li>
        <li><a href="https://en.wikipedia.org/wiki/CSS" id="frontEnd1" class="dropdown-item">CSS</a></li>
        <li><a href="https://en.wikipedia.org/wiki/JavaScript" id="frontEnd" class="dropdown-item">JavaScript</a></li>
        <li><a href="https://en.wikipedia.org/wiki/TypeScript" id="frontEnd1" class="dropdown-item">TypeScript</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Bootstrap_(front-end_framework)" id="frontEnd"
                class="dropdown-item">BootStrap CSS</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Angular_(web_framework)" id="frontEnd1"
                class="dropdown-item">Angular</a></li>

    </ul><br><br><br>
    </div>
    <div  class="dropdown">
    <button class="btn" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
        Back-End
    </button>
    <ul class="dropdown-menu">
        <li><a href="https://en.wikipedia.org/wiki/Java" id="frontEnd" class="dropdown-item">Java</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Hibernate_(framework)" id="frontEnd1"
                class="dropdown-item">Hibernate</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Spring_Framework" id="frontEnd" class="dropdown-item">Spring Boot</a>
        </li>

    </ul><br><br><br>
    </div>
    <div class="dropdown">
    <button class="btn" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
        Database
    </button> 
    <ul class="dropdown-menu">
        <li><a href="https://en.wikipedia.org/wiki/MySQL" id="frontEnd" class="dropdown-item">MySQL</a></li>
    </ul>
    </div>
</div>