<div class="bookDetails">
    <h1>Book Details</h1>
    <br>
    <br>
    <table>

        <tr> <label> <b> Department ID: </b></label><span> {{library.deptId}} </span></tr><br>

        <tr> <label> <b> Department Name: </b></label><span> {{library.deptName}} </span></tr><br>

        <tr> <label> <b> Subject Code: </b></label><span> {{library.subjectCode}} </span></tr><br>

        <tr> <label> <b> Subject Name: </b></label><span> {{library.subjectName}} </span></tr><br>

        <tr> <label> <b> Author Name: </b></label><span> {{library.authorName}}</span> </tr><br>

        <tr> <label> <b> Edition: </b></label> <span>{{library.edition}} </span></tr><br>

        <tr> <label> <b> Number of Copies: </b></label> <span>{{library.noOfCopies}} </span></tr>

    </table>
</div>